/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: 'Montserrat', sans-serif;
}

body {
	font: 1em/1.5;
	color: #184f68;
	background: linear-gradient(to bottom, #61646B 30%, rgb(16, 26, 49));
}

header {
	height: 100vh;
	text-align: center;
	background-image: url('../img/background.jpg');
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: space-evenly;
	background-size: cover;
	margin-bottom: 100px;
	box-shadow:inset 0 -60px 30px 5px #61646B;
}

h1 {
	font-size: 5em;
	text-shadow: 0 1px 0 #F7C195;
	margin: 0;
	font-family: 'Dancing Script', cursive;
}

#down {
	font-size: 3em;
	padding: 20px;
}

#down:hover {
	cursor: pointer;
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: rgba(245, 248, 255, 0.432);
	border: 1px solid black;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend {
	font-weight: 600;
	padding-top: .5em;
	border-top: 1px solid #F7C195;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #000;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #F7C195;
	border: 1px solid black;
	outline: none;
}

input:focus {
	background: #F7C195;
	border-color: #184c62;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: black;
	padding: .55em 1.25em;
	background: #F7C195;
	margin: 1.25em 0 .5em;
	cursor: pointer;
}

button:hover {
	background: #184c62;
	color: white;
}

.disabled {
	text-decoration: line-through;
	color: #184c62;
}

.invalid {
	border: solid 2px red;
}

.valid {
	border: 1px solid black;
}

.errorMsg {
	color: rgb(212, 0, 0);
	font-size: .9em;
	background-color: white;
	border: 1px solid red;
	padding: 2px;
}

#totalCostMessage {
	font-size: 1.25em;
	color: black;
	text-align: center;
}

::placeholder {
	color: #184c62;
	font-size: .75em;
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}